
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url(/static/images/back.jpg) no-repeat center center fixed;
    background-size: cover;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-size: 3.5rem;
    color: #F0FFFF; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif; 
    margin-bottom: 30px;
    padding-top: 20px; 
}

.chart-container h2 {
    text-align: center;
    color: #333; 
    font-size: 1.8rem; 
    margin-bottom: 15px; 
}

form label {
    color: #F0FFFF; 
    font-size: 1.2rem; 
    margin-right: 10px; 
}

.chart-container {
    background-color: #FFFFFF; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 20px; 
    margin-bottom: 30px; 
    width: 90%; 
    max-width: 1200px; 
}

select {
    width: 200px;
    padding: 10px;
    font-size: 1.1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 2.5rem;
    }
    select {
        width: 150px;
    }
    .chart-container {
        padding: 15px;
    }
}
